* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;

}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.header{
		width: 100%;
}

.c1{
	margin: 0 auto;
}

html {
  height: 100%;
  box-sizing: border-box;
}

h1{
	color: #f2cbbc;
	text-shadow: 2px 2px #334431; 
	padding: 50px;
	margin: 0 0 50px 0;
	background-color: #334431;
	width: 100%;
}

body{
	color: #f2cbbc;
	background-color: #e6af4b;
	padding: 0;
	margin: 0;
	font-family: 'Raleway', sans-serif;
	position: relative;
	padding-bottom: 150px;
	min-height: 100%;
}

footer{
	padding: 20px;
	width: 100%;
    overflow: hidden;
    background-color: #334431;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}

#mapBoxCurrent{
	color: black;
	height: 400px;
	margin:auto;
	border-color: #445541;
	border-style: solid;
	border-width: 20px;
	border-radius: 0 0 20px 20px;
	box-shadow: 10px 10px #e05038;
}

.search {
    padding:8px 15px;
	background-color: #333333;
	color: #f2cbbc;
	border-color: #445541;
	border-style: inset;
	border-width: 10px;
	width: 200px;
}

.searchButton{
	padding:8px 15px;
    background-color: #333333;
    color: #f2cbbc;
    text-align: center;
    text-decoration: none;
	border-color: #445541;
	border-style: inset;
	border-width: 10px;
	width: 200px;
    display: inline-block;
}

.dropBoxContainer{
	background-color: red;
	background-color: #445541;
	border-color: #445541;
	border-style: solid;
	border-width: 20px;
	border-radius: 20px 20px 0 0;
	box-shadow: 10px 10px #e05038;
}

.inline{
	display: inline-block;
}

.overflowContainer{
	overflow-y: scroll;
	height: 100px;
	background-color: #333333;
}

#fileInput{
	margin: 10px;
}

.location{
	margin: auto;
	background-color: #445541;
	border-color: #445541;
	border-style: solid;
	border-width: 20px;
	box-shadow: 10px 0 #e05038;
	text-align: center;
}

@media only screen and (min-width: 1440px){
	/* large monitor */
	.c1{
		width: 80%;
	}
}

@media only screen and (min-width: 1024px) and (max-width: 1439px){
	/* laptop */
	.c1{
		width: 90%;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
    /* tablets and desktop */
	.c1{
		width: 90%;
	}
}

@media only screen and (max-width: 767px) {
    /* phones */
	.c1{
		width: 90%;
	}	
}

